@import "../../custom";

.img-card {

  &:hover {
    transform-origin: center;
    transform: translateY(-20px);
    transition-duration: 600ms;
    transition-delay: 0.3s;

    .card-text {
      background-color: $white;
      color: $primary;
      border: 2px $primary solid;
    }
  }

  .card-text {
    background-color: $primary;
    color: $white;

    padding: 1rem;
  }
}
