@import "../../custom";

.ProfileMain {
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-height: 90vh;

  .active {
    color: $secondary;
  }

  .nav-item {
    &:hover {
      cursor: pointer;
    }
  }

  .Card-profile {
    z-index: 1000;
    height: max-content;
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  .banner {
    position: absolute;
    height: 128px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../../static/waveYellow.png');
  }

}