@import "../../custom.scss";

.Header {
  height: 60px;

  .dark {
    color: $white;
  }

  .light {
    color: $primary;
  }

  .active {
    color: $secondary;
  }

  .nav-item {
    &:hover {
      cursor: pointer;
    }
  }
}