
    .book{
            margin-top: 30px;
            margin-bottom: 30px;
            width: 150px;
            height: 50px;
            left: 968px;
            top: 650px;
            background: #F43467;
            border-radius: 20px;
            color: white;
            outline: none;
            border: none;

        &:hover, &:focus{
            border: none;
            outline: none;
            filter: drop-shadow(3px 5px 10px rgba(244, 52, 103, 0.5));
        }
    }