@import "custom";

body {
  font-family: "Segoe UI";
  width: 100%;
}

.App {
  background-color: $body-bg;
  display: flex;
  flex-direction: column;

  .App-content {
    width: 100%;
    padding: 0;
    transform-origin: top;
    transform: translateY(60px);
  }
}